<?xml version="1.0"?>
<config>
  <modules>
    <Ideal_Salesattribute>
      <version>0.1.2</version>
    </Ideal_Salesattribute>
  </modules>
  <global>
    <helpers> 
      <salesattribute>
        <class>Ideal_Salesattribute_Helper</class>
      </salesattribute>
    </helpers>
	<models>
	  <salesattribute>
		<class>Ideal_Salesattribute_Model</class>
		<resourceModel>salesattribute_mysql4</resourceModel>
	  </salesattribute>
	</models>
	<resources>
	  <salesattribute_setup>
		<setup>
		  <module>Ideal_Salesattribute</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute_setup>
	  <salesattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute_write>
	  <salesattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute_read>
	</resources>
  </global>
</config> 